#image_paymonkey {
height:400px;
padding-bottom:40px;
}

#homepage_header {
font-size:160px;
}

#homepage_subtitle {
font-size:70px;
padding-bottom:60px;
padding-top:80px;
}

#b_fbconnect {
height:100px;
width:830px;
}

#fbconnect_text {
font-size:40px;
}