.hero-unit {
	padding: 40px;
}

h2 {
	font-size: 36px;
}

.top-bottom-space-sm {
	padding: 10px 0;
}

.payment-errors {
	color: red;
	margin-left: 50px;
	font-size: 20px;
}

.form-row label {
	font-weight:bold;
}

.special-msg {
	padding: 10px;
	font-size: 120%;
	display:inline-block;
}

.payment-box {
	margin: 0 auto;
	float: none;
	border: solid thin #BBB;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 13px #888;
}

input.input_sm {
	width: 50px;
}

form#payment-form {
	margin-left: 20px;
}